/* You can add global styles to this file, and also import other style files */
html,
body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100%;
}

@font-face {
    font-family: 'PacManFont';
    src: local('PacManFont'),
        url('/assets/fonts/PacManFont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'Retro';
    src: local('Retro'),
        url('/assets/fonts/Retro.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}