.background {
    position: relative;
    background: url('/assets/arcade2.png') no-repeat center center;
    background-color: red;
    z-index: 1;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;

    .title {
        position: absolute;
        font-family: 'PacManFont', sans-serif;
        font-size: 6rem;
        color: yellow;
        text-align: center;
        z-index: 10;
    }

    button {
        display: flex;
        font-family: 'Retro';
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        top: 59%;
        z-index: 30;
        width: 20rem;
        height: 4rem;
        background-color: #1717D6;
        color: white;
        font-size: 1.5em;
        border: 4px solid #FFFF00;
        padding: 10px 20px;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }
}