.background-blur {
    position: relative;
    z-index: -1;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background: url('/assets/arcade2.png') no-repeat center center;
    background-size: cover;
    display: flex;
    align-items: center;

    &::before {
        content: '';
        position: absolute;
        top: -10px;
        right: -10px;
        bottom: -10px;
        left: -10px;
        background: inherit;
        filter: blur(3px);
        transform: scale(1.05);
        z-index: 0;
    }

    .game-container {
        height: 90vh;
        z-index: 10;
    }
}

.title {
    position: absolute;
    font-family: 'PacManFont', sans-serif;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -200%);
    font-size: 4rem;
    color: yellow;
    text-align: center;
    z-index: 100;

    @media screen and (max-width: 1280px) {
        display: none;
    }
}

app-pacman,
app-game {
    position: absolute;
    width: 100%;
    height: 100%;
}